<!DOCTYPE html>
<html
>
<div>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0" data-aos="fade-right" data-aos-duration="3000">
                   Cloud, Dev, and Ops expertise at your fingertips
                </h1>
                <hr />
                <h3>Something descriptive here</h3>
                <h1 class="masthead-subheading mb-10" data-aos="fade-left" data-aos-duration="3000"></h1>
                <a href="/authentication/register" data-aos="fade-up" data-aos-duration="1000" class="shadow btn callToActionBtn large mb-lg-5 mt-5">Create Free Account</a>
            </div>
        </div>
    </header>
</div>
