<!DOCTYPE html>
<html
>
<div>


    <!-- Header-->
    <header class="masthead text-center text-white" style="padding-top: 45px; padding-bottom: 10px;">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0" ><a href="/">Home</a></h1>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

</div>
