server:
  port: 8080
spring:
  application:
    name: intc-3283-starter
  threads:
    virtual:
      enabled: true
  docker:
    compose:
      enabled: true
      lifecycle-management: start_only
  datasource:
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mydatabase
  flyway:
    baseline-on-migrate: true
    enabled: true
    locations:
      - classpath:db/migration
  mail:
    host: localhost
    username: unit-test@northwestu.edu
    password: unit-test
    port: 1025
    transport:
      protocol: smtp
    properties:
      smtp:
        auth: true
        starttls:
          enable: true
          required: true
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
logging:
  level:
    org.springframework.data.jdbc: TRACE
    org.springframework.jdbc.core: DEBUG
    com.mysql.cj.jdbc: TRACE
