<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head.html :: head}"></head>
<body>
<div>
    <nav th:replace="~{fragments/navigation :: div}"></nav>

    <main class="container mt-4">
        <h1>Welcome to INTC-3283.</h1>
        <p>This is the starter app where we will learn how to build a database-connected application, create custom reports, and build basic APIs.</p>
    </main>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</div>
</body>
</html>
